# Gradle
build/
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Python
__pycache__/
*.py[cod]
venv/

# Docker volumes
mongodb_data/
neo4j_data/
neo4j_logs/

# Environment
.env

# IDE
.vscode/

# OS : Stores custom attributes of a folder in macOS
.DS_Store 